@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>At EventEase, we make planning and managing events simple, seamless, and stress-free. Whether you're organizing a wedding, conference, concert, or private party, our platform empowers you to find the perfect venue, manage bookings effortlessly, and create memorable experiences. Explore our features, connect with top venues, and bring your vision to life—all in one place. Welcome to the future of event planning!</p>
    <img src="~/images/pexels-thibault-trillet-44912-167491.jpg" alt="Welcome Image" class="img-fluid mt-4" style="max-width: 600px;" />
</div>
